**
!config.m4
!ion.c
!ion_arginfo.h
!ion_private.h
!Makefile.frag
!php_ion.h
#
!ion-c/cmake
!ion-c/CMakeLists.txt
!ion-c/decNumber
!ion-c/ionc
!ion-c/LICENSE
!ion-c/README.md
!ion-c/test/*.*
!ion-c/test/googletest/CMakeLists.txt
!ion-c/test/googletest/googlemock/CMakeLists.txt
!ion-c/test/googletest/googlemock/include
!ion-c/test/googletest/googlemock/src
!ion-c/test/googletest/googletest/cmake
!ion-c/test/googletest/googletest/CMakeLists.txt
!ion-c/test/googletest/googletest/include
!ion-c/test/googletest/googletest/src
!ion-c/tools
